@page "/contato"

<PageTitle>Contato</PageTitle>

<section class="pagina-contato">

    <div class="container-contato">

        <p class="subtitulo-pagina">
            Vamos conversar
        </p>

        <h1 class="titulo-pagina">
            Entre em Contato
        </h1>

        <p class="texto-pagina">
            Você pode entrar em contato comigo através das redes abaixo.
        </p>

        <div class="links-contato">

            <a href="#">
                Instagram
            </a>

            <a href="#">
                GitHub
            </a>

            <a href="#">
                LinkedIn
            </a>

            <a href="#">
                Email
            </a>

        </div>

    </div>

</section>