@page "/curriculo"

<PageTitle>Currículo</PageTitle>

<section class="pagina-curriculo">

    <div class="container-curriculo">

        <p class="subtitulo-pagina">
            Experiências e habilidades
        </p>

        <h1 class="titulo-pagina">
            Meu Currículo
        </h1>

        <div class="bloco-curriculo">

            <h2>
                Formação
            </h2>

            <p>
                Curso Técnico em Desenvolvimento de Sistemas
            </p>

        </div>

        <div class="bloco-curriculo">

            <h2>
                Tecnologias
            </h2>

            <div class="tecnologias">

                <span>HTML</span>
                <span>CSS</span>
                <span>C#</span>
                <span>Blazor</span>
                <span>MySQL</span>
                <span>Arduino</span>

            </div>

        </div>

        <div class="bloco-curriculo">

            <h2>
                Objetivo
            </h2>

            <p>
                Buscar oportunidades para crescer profissionalmente
                na área da tecnologia e desenvolvimento de software.
            </p>

        </div>

    </div>

</section>