@page "/historia"

<PageTitle>Minha História</PageTitle>

<section class="pagina-historia">

    <div class="container-historia">

        <p class="subtitulo-pagina">
            Minha trajetória
        </p>

        <h1 class="titulo-pagina">
            Sobre Mim
        </h1>

        <p class="texto-pagina">
            Sou estudante da área de tecnologia e tenho interesse em
            desenvolvimento web, banco de dados e criação de projetos criativos.
        </p>

        <p class="texto-pagina">
            Gosto de aprender novas tecnologias e transformar ideias
            em aplicações modernas, funcionais e intuitivas.
        </p>

        <p class="texto-pagina">
            Atualmente venho desenvolvendo projetos utilizando HTML,
            CSS, C#, Blazor, MySQL e Arduino.
        </p>

    </div>

</section>